In [3]:
import pandas as pd
import numpy as np

In [5]:
#Load data
MAX_ROWs = 10000

train_df = pd.read_csv("../data/raw/All_Beauty.csv", nrows = MAX_ROWs)

In [6]:
train_df.head()

   rating  verified      reviewerID  product_id        date vote
0       1      True  A1V6B6TNIC10QE  0143026860  1424304000  NaN
1       4      True  A2F5GHSXFQ0W6J  0143026860  1418860800  NaN
2       4      True  A1572GUYS7DGSR  0143026860  1407628800  NaN
3       5      True   A1PSGLFK1NSVO  0143026860  1362960000  NaN
4       5      True   A6IKXKZMTKGSC  0143026860  1324771200    5

In [8]:
print("rows:",train_df.shape[0]," columns:", train_df.shape[1])

rows: 10000  columns: 6

In [7]:
train_df.describe()

             rating          date
count  10000.000000  1.000000e+04
mean       4.542000  1.430842e+09
std        0.997565  9.358195e+07
min        1.000000  9.739872e+08
25%        5.000000  1.419725e+09
50%        5.000000  1.451261e+09
75%        5.000000  1.485302e+09
max        5.000000  1.525738e+09